<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.2.2" targetFramework="net452" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net452" />
  <package id="Xunit" version="2.2.0-beta1-build3239" targetFramework="net452" />
  <package id="Xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="Xunit.assert" version="2.2.0-beta1-build3239" targetFramework="net452" />
  <package id="Xunit.core" version="2.2.0-beta1-build3239" targetFramework="net452" />
  <package id="Xunit.extensibility.core" version="2.2.0-beta1-build3239" targetFramework="net452" />
  <package id="Xunit.extensibility.execution" version="2.2.0-beta1-build3239" targetFramework="net452" />
  <package id="Xunit.runner.console" version="2.2.0-beta1-build3239" targetFramework="net452" developmentDependency="true" />
  <package id="Xunit.runner.visualstudio" version="2.2.0-beta1-build1144" targetFramework="net452" developmentDependency="true" />
</packages>