<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Edge.js" version="0.9.2" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net452" />
  <package id="NLog" version="4.2.3" targetFramework="net452" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net452" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net452" />
  <package id="Raml.Parser" version="0.8.103" targetFramework="net452" />
</packages>